html {
  scroll-padding-block: 0;
}

html,
body.spz_1002_v {
  min-height: 100%;
}

body.spz_1002_v {
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773133481/tempo/1002/1440_bg.webp) no-repeat;
  background-size: cover;
  background-position: top left;
  height: 100vh;
}

body.spz_1002_v header,
body.spz_1002_v footer {
  display: none;
}

body.spz_1002_v div#CookiebotWidget {
  display: none;
}

body.spz_1002_v aside#formsignup form fieldset {
  flex-direction: row;
  flex-wrap: unset;
}

body.spz_1002_v .top-header {
  position: static;
}

body.spz_1002_v .spz_main_wrapper article {
  display: none;
}

body.spz_1002_v .spz_main_wrapper aside#formsignup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  background: #FFF;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  padding: 24px 48px 48px;
  border-radius: 0;
}

body.spz_1002_v .spz_main_wrapper aside#formsignup header {
  display: block;
}

body.spz_1002_v .spz_main_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 32px;
}

body.spz_1002_v aside#formsignup form header {
  display: block;
  color: #1D1D1B;
  text-align: center;
  font-family: 'messinaSans';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.2px;
  margin-bottom: 32px;
}


.spz_main_wrapper aside#formsignup .form-field-label {
  position: absolute;
  top: 13px;
  left: 14px;
  color: rgba(29, 29, 27, 0.70);
  font-family: 'messinaSans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-height: 0 !important;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spz_main_wrapper aside#formsignup .flex-col>input {
  border-radius: 8px;
  border: 1px solid rgba(29, 29, 27, 0.50);
  background: #FFF;
  height: 48px;
  color: #1D1D1B;
  font-size: 16px;
  font-family: 'messinaSans';
  font-style: normal;
  font-weight: 350;
  line-height: 24px;
  padding-left: 13px;
  padding-right: 14px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spz_main_wrapper aside#formsignup .PhoneInputinput {
  border-radius: 8px;
  border: 1px solid rgba(29, 29, 27, 0.50);
  background: #FFF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spz_main_wrapper aside#formsignup .phone-input-container,
.spz_main_wrapper aside#formsignup .flex-col>select {
  border-radius: 8px;
  border: 1px solid rgba(29, 29, 27, 0.50);
  background: #FFF;
  height: 48px;
  padding-left: 13px;
  padding-right: 14px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spz_main_wrapper aside#formsignup .phone-input-container {
  padding: 0;
}

.spz_main_wrapper aside#formsignup .phone-input-container input {
  padding: .5rem 1rem;
  padding-left: 13px;
  border-radius: 8px;
}

.spz_main_wrapper aside#formsignup .flex-col>input:hover,
.spz_main_wrapper aside#formsignup .phone-input-container:hover,
.spz_main_wrapper aside#formsignup .flex-col>select:hover {
  border-color: #1D1D1B;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spz_main_wrapper aside#formsignup .flex-col:has(.custom-error-message) input,
.spz_main_wrapper aside#formsignup .flex-col:has(.custom-error-message) .phone-input-container,
.spz_main_wrapper aside#formsignup .flex-col:has(.custom-error-message) select {
  border-color: #F54D42;
}

.spz_main_wrapper aside#formsignup .flex-col .custom-error-message {
  gap: 5px;
  color: #F54D42;
  font-family: 'messinaSans';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.5px;
  margin-top: 6px;
  display: flex;
  align-items: flex-start;
}

.spz_main_wrapper aside#formsignup .flex-col .custom-error-message svg {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

.spz_main_wrapper aside#formsignup .phone-input-container .PhoneInputCountry {
  display: none;
}

.spz_main_wrapper aside#formsignup .flex-col:has(> input:focus) label,
.spz_main_wrapper aside#formsignup .flex-col:has(.PhoneInput--focus) label,
.spz_main_wrapper aside#formsignup .flex-col:has(select:focus) label,
.spz_main_wrapper aside#formsignup .flex-col:has(.PhoneInput):has(.custom-error-message) label {
  color: #1D1D1B;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 350;
  line-height: 19.5px;
  top: -10px;
  left: 9px;
  background: #fff;
  padding: 0 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spz_main_wrapper aside#formsignup .flex-col:has(.PhoneInput):has(.custom-error-message) label {
  color: #F54D42;
}

.spz_main_wrapper aside#formsignup .flex-col.filled>label {
  color: #1D1D1B;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 350;
  line-height: 19.5px;
  top: -10px;
  left: 9px;
  background: #fff;
  padding: 0 5px;
  min-height: 0 !important;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.spz_main_wrapper aside#formsignup .flex-col:has(.custom-error-message)>label {
  color: #F54D42;
}

.spz_main_wrapper aside#formsignup .flex-col>input:focus-visible,
.spz_main_wrapper aside#formsignup .phone-input-container:focus-within,
.spz_main_wrapper aside#formsignup .flex-col>select:focus-within {
  outline: none;
}

.spz_main_wrapper aside#formsignup .flex-col>input:focus {
  border-color: #1D1D1B;
}

.spz_main_wrapper aside#formsignup .flex-col>.arrow {
  position: absolute;
  top: 20px;
  right: 14px;
  width: 12.97px;
  height: 7.134px;
  pointer-events: none;
}

.spz_main_wrapper aside#formsignup .spz_1002_v_submit_btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FFF;
  background: #1D1D1B;
  text-align: center;
  font-family: 'messinaSans';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  margin: 32px 0 0;
}

.spz_main_wrapper aside#formsignup .spz_1002_v_submit_btn:hover {
  background: linear-gradient(0deg, #343434 0%, #343434 100%), #1D1D1B;
}

.spz_main_wrapper aside#formsignup .spz_1002_v_submit_btn:focus-visible {
  outline: none;
}

body.spz_1002_v aside#formsignup .spz_disclaimer a:focus-visible {
  outline: none;
}

/* body.spz_1002_v aside#formsignup form>div>div:has(details) {
  display: none;
} */


body.spz_1002_v aside#formsignup form>div>div:has(details) summary {
  color: #1D1D1B;
  font-family: 'messinaSans';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.5px;
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  width: fit-content;
  list-style: none;
}

body.spz_1002_v aside#formsignup form>div>div:has(details) summary::-webkit-details-marker {
  display: none;
}

body.spz_1002_v aside#formsignup form>div>div details {
  margin: 0;
}

body.spz_1002_v aside#formsignup form>div>div details[open] p {
  padding-bottom: 7px !important;
}


body.spz_1002_v aside#formsignup form>div>div:has(details) summary>span.ml-2 {
  width: 20px;
  width: 20px;
  margin-left: 1px;
}

body.spz_1002_v aside#formsignup form>div>div:has(details) summary>span.ml-2 svg {
  width: 20px;
  height: 20px;
}

body.spz_1002_v aside#formsignup form>div>div:has(details) summary+div span {
  font-family: 'messinaSans';
  font-style: normal;
  font-size: 13px !important;
  font-weight: 400;
  line-height: 19.5px !important;
  text-decoration: none;
}

body.spz_1002_v aside#formsignup form>div>div:has(details) summary+div span a {
  color: #1D1D1B !important;
  font-family: 'messinaSans';
  font-size: 13px;
  font-style: normal;
  font-weight: 350;
  line-height: 19.5px;
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-decoration: none;
}

body.spz_1002_v aside#formsignup form>div>div:has(details) summary+div span a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #1D1D1B;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.spz_1002_v aside#formsignup form>div>div:has(details) summary+div span a:hover:after {
  background: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body.spz_1002_v .spz_main_wrapper {
  padding: 0;
}

.spz_main_wrapper aside#formsignup .flex-col:has(.PhoneInput):not(.focused):not(.filled):not(:has(.custom-error-message)) input.PhoneInputInput {
  color: transparent;
}

/* @media only screen and (max-width: 767px) and (min-width: 412px) and (min-height: 768px) {
  body.spz_1002_v .top-header {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }
} */


@media only screen and (max-height: 558px) {
  body.spz_1002_v {
      background-attachment: fixed !important;
  }

  body.spz_1002_v .spz_main_wrapper {
      margin: 50px 0;
  }

  body.spz_1002_v .spz_main_wrapper aside#formsignup {
      position: static;
      transform: none;
      width: 100%;
      margin: auto;
  }
}

/* Mobile: up to 767px */
@media only screen and (max-width: 767px) {
  .spz_1002_v.is-safari {
      background: none;
      position: relative;

  }

  .spz_1002_v.is-safari:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773133501/tempo/1002/360_bg.webp) no-repeat;
      background-size: cover;
      background-position: top left;
      z-index: -1;
  }

  body.spz_1002_v {
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773133501/tempo/1002/360_bg.webp) no-repeat;
      background-size: cover;
      background-attachment: fixed !important;
  }

  body.spz_1002_v section:has(.spz_main_wrapper) {
      padding: 0 20px;
  }

  body.spz_1002_v .spz_main_wrapper {
      margin: 76px 0;
  }

  body.spz_1002_v .spz_main_wrapper aside#formsignup {
      width: 100%;
      padding: 24px 16px 48px;
      /* max-height: 100vh; */
      position: static !important;
      transform: none;
      margin: auto;
      height: auto !important;
  }

  body.spz_1002_v aside#formsignup form header {
      font-size: 32px;
      line-height: 38.4px;
  }

  body.spz_1002_v aside#formsignup form fieldset {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
  }

  .spz_main_wrapper aside#formsignup .spz_1002_v_submit_btn {
      margin: 31.5px 0 0;
  }

  body.spz_1002_v aside#formsignup .spz_disclaimer a {
      display: inline-block;
  }

  body.spz_1002_v aside#formsignup form>div>div:has(details) summary+div span a {
      display: inline-block;
  }
}

/* Tablet: 768px – 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body.spz_1002_v {
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773133491/tempo/1002/768_bg.webp) no-repeat;
      background-size: cover;
  }
}

/* Small Desktop: 1025px – 1439px */
@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  body.spz_1002_v {
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773133481/tempo/1002/1440_bg.webp) no-repeat;
      background-size: cover;
  }
}

/* Large Desktop: 1440px – 1919px */
@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  body.spz_1002_v {
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773133481/tempo/1002/1440_bg.webp) no-repeat;
      background-size: cover;
  }
}

/* Full HD: 1920px – 2559px */
@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  body.spz_1002_v {
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773219379/tempo/1002/1920_bg.webp) no-repeat;
      background-size: cover;
  }

  body.spz_1002_v .spz_main_wrapper aside#formsignup {
      left: 50%;
  }
}

/* QHD: 2560px – 3199px */
@media only screen and (min-width: 2560px) and (max-width: 3199px) {
  body.spz_1002_v {
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773219330/tempo/1002/2560_bg.webp) no-repeat;
      background-size: cover;
  }

}

/* 4K: 3200px and above */
@media only screen and (min-width: 3200px) {
  body.spz_1002_v {
      background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/v1773219270/tempo/1002/4k_bg.webp) no-repeat;
      background-size: cover;
  }
}