$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1299.98px;
$tablet-pro: 1024px;
$tablet: 1023.98px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
    @media (max-width: #{$desktop-lg}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin desktop-sm {
    @media (max-width: #{$desktop-sm}) {
        @content;
    }
}

@mixin tablet-lg {
    @media (max-width: #{$tablet-lg}) {
        @content;
    }
}

@mixin tablet-pro {
    @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

.spz_3008_v2 .lp-hero-content>.lp-hero-form,
.spz_3008_v2 .lp-hero-content>ul.lp-hero-list {
    display: none;
}

.spz_3008_v2 .lp-hero-content.hide_tiles>.lp-hero-form {
    display: block;
}

.spz_3008_v2 .lp-hero-content.hide_tiles>ul.lp-hero-list {
    display: flex;
}

.spz_3008_v2 .lp-hero-content.hide_tiles>ul.lp-hero-list li {
    margin-right: 0;
}

.spz_3008_v2 .lp-hero-content.hide_tiles .funds-section {
    display: none;
}

.spz_3008_v2 .funds-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #171717;
    margin: 30px 0 24px;
}

.spz_3008_v.sb-financing .tile-grid {
    padding-right: 6px;
}

.spz_3008_v2 .tile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 31px;
    max-width: 566px;
    padding-right: 6px;
}

.spz_3008_v2 .tile {
    background: #fff;
    border: 1px solid rgba(175, 146, 125, 0.2);
    border-radius: 12px;
    padding: 22px 10px 24px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    user-select: none;
    transition: border-color 0.15s;
    width: 180px;
    height: 88px;
    position: relative;
    color: #171717;
}

.spz_3008_v2 .tile:hover {
    border: 1px solid rgba(175, 146, 125, 0.4);
    box-shadow: 0 4px 16px -1px rgba(0, 0, 0, 0.06);
}

.spz_3008_v2 .tile:active {
    border: 2px solid #2468c7;
    box-shadow:
        0 0 0 2px rgba(36, 104, 199, 0.25),
        0 4px 16px -1px rgba(0, 0, 0, 0.06);
}

.spz_3008_v2 .tile.selected {
    border: 2px solid #2468c7;
}

.spz_3008_v2 .tile-check {
    width: 18px;
    height: 18px;
    border: 1px solid #e2dbd5;
    border-radius: 4px;
    flex-shrink: 0;
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spz_3008_v2 .tile-check svg {
    display: none;
}

.spz_3008_v2 .tile.selected .tile-check {
    background-color: #2468c7;
    border-color: #2468c7;
}

.spz_3008_v2 .tile.selected .tile-check svg {
    display: block;
}

.spz_3008_v2 .funds-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.spz_3008_v2 .next-btn {
    background: #192526;
    border: none;
    border-radius: 50px;
    padding: 21px 20px 24px;
    cursor: pointer;
    overflow: hidden;
    color: #fefdfd;
    text-align: center;
    text-overflow: ellipsis;
    font-family: "proxima-nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20.8px;
    width: 140px;
    height: 64px;
}

.spz_3008_v2 .next-btn:hover {
    background: #121111;
}

.spz_3008_v2 .footer-note {
    font-size: 13px;
    color: #666;
}

.spz_3008_v .lp-hero div:has(.disclosure-tooltip) small {
    color: #78716c;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;
    padding-left: 0.5px;
    display: block;
}

.spz_3008_v .lp-hero div:has(.disclosure-tooltip) small .disclosure-tooltip {
    color: #78716c;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.6px;
    margin: 0 auto;
    text-decoration: underline;
    text-underline-offset: 5px;
    border: 0;
    transform: translate(-1px, -1px);
    position: relative;
    left: 0;
    top: -1.5px;
}

.spz_3008_v .lp-hero .disclosure-tooltip .disclosure-tooltiptext {
    margin-left: -160px;
    width: 280px;
    top: 172%;
    bottom: auto;
    border-radius: 8px;
    color: #fbf8f7;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 14.5px 20px 18px;
    box-shadow:
        0 2px 4px -2px rgba(0, 0, 0, 0.1),
        0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background: #192526;
    left: 50%;
    position: absolute;
    box-sizing: border-box;
    text-align: left;
    opacity: 0;
    z-index: -1 !important;
    visibility: hidden;
}

.spz_3008_v .lp-hero .disclosure-tooltip:hover .disclosure-tooltiptext {
    z-index: 1 !important;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.spz_3008_v .lp-hero .disclosure-tooltip .disclosure-tooltiptext:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='6' viewBox='0 0 14 6' fill='none'%3E%3Cpath d='M7 0L14 6H0L7 0Z' fill='%23192526'/%3E%3C/svg%3E");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 14px;
    height: 6px;
    right: auto;
    transform: translateX(-50%);
}

.spz_3008_v2 .tile-check svg {
    display: none;
}

.spz_3008_v2 .tile.selected .tile-check svg {
    display: block;
}

.spz_3008_v2 .lp-hero-img-col {
    margin-top: 1px;
}

.spz_3008_v2 .lp-hero {
    overflow: visible;
}

html,
body {
    overflow-x: hidden;
    max-width: 100%;
}

.spz_3008_v .text-amount-form-wrap-lp-sbfv2 .back_btn {
    position: absolute;
    top: 0px;
    left: 0;
    color: #78716c;
    text-align: center;
    font-family: "proxima-nova";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_28944_277)'%3E%3Cpath d='M10 12L5 7L10 2' stroke='%2378716C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_28944_277'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 23px;
    background-position: 0 90%;
    cursor: pointer;
    z-index: 2;
}

.spz_3008_v .text-amount-form-wrap-lp-sbfv2 .back_btn:hover {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_2055_3072)'%3E%3Cpath d='M10 12L5 7L10 2' stroke='%23121111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2055_3072'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E") no-repeat;
    background-position: 0 90%;
}

.spz_3008_v .text-amount-form-wrap-lp-sbfv2 .back_btn:hover span {
    color: #121111;
}

.spz_3008_v .text-amount-form-wrap-lp-sbfv2 .back_btn.hide_btn {
    display: none;
}

.spz_3008_v .text-amount-form-wrap-lp-sbfv2 {
    position: relative;
    margin-top: 30px;
}

.spz_3008_v .text-amount-form-wrap-lp-sbfv2:has(.back_btn.hide_btn) {
    margin-top: 0;
}

.spz_3008_v .text-amount-form-wrap-lp-sbfv2 lendio-start#start-widget {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 991px) {
    .spz_3008_v2 .tile-grid {
        max-width: 640px;
    }

    .spz_3008_v2 .tile {
        min-width: 206px;
        width: auto;
    }

    .spz_3008_v2 .lp-hero-eyebro-wrapper {
        margin-bottom: 27px;
    }

    .spz_3008_v2 .lp-hero-trustpilot-wrapper {
        margin-top: 37px;
    }

    .spz_3008_v2 .lp-hero-img-col {
        top: -65px;
        right: -63px;
    }

    .spz_3008_v.sb-financing .tile-grid {
        padding-right: 0;
    }

    .spz_3008_v2 .next-btn {
        min-width: 140px;
    }
}

@media only screen and (max-width: 767px) {
    .spz_3008_v2 .lp-hero {
        padding-bottom: 65px;
        overflow: visible;
    }

    .spz_3008_v2 .lp-hero-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .spz_3008_v2 .lp-hero-img-col {
        top: 83px;
        right: -59px;
    }

    .spz_3008_v2 .tile-grid {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .spz_3008_v2 .tile.tile-single {
        grid-column: 1 / -1;
        height: 54px;
    }

    .spz_3008_v2 .tile {
        min-width: 155px;
        height: 64px;
        font-size: 16px;
        line-height: 20.8px;
    }

    .spz_3008_v2 .tile-check {
        display: none;
    }

    .spz_3008_v2 .lp-hero-eyebro-wrapper {
        margin-bottom: 12px;
    }

    .spz_3008_v2 .lp-hero-trustpilot-wrapper {
        margin-top: 20px;
    }

    .spz_3008_v2 .home-hero-review-text {
        margin-bottom: -2px;
    }

    .spz_3008_v2 .funds-title {
        font-size: 18px;
        line-height: 23.4px;
        margin: 33px 0 17px;
    }

    .spz_3008_v2 .next-btn {
        width: 100%;
        height: 56px;
        padding: 16px 20px 24px;
    }

    .spz_3008_v2 .funds-footer {
        flex-direction: column;
        text-align: center;
        margin-top: 34.5px;
        gap: 13px;
    }

    .spz_3008_v .lp-hero div:has(.disclosure-tooltip) small .disclosure-tooltip {
        display: block;
        top: 3px;
        left: 2px;
    }

    .spz_3008_v .lp-hero div:has(.disclosure-tooltip) small {
        position: relative;
        left: -1px;
    }

    .spz_3008_v .text-amount-form-wrap-lp-sbfv2 lendio-start#start-widget {
        position: relative;
        z-index: 1;
    }
}


.spz_3008_v .spz-3010-section1 {
    background: #FBF8F7;
    // overflow: hidden;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.spz_3008_v .spz-3010-section1 .wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 78.5px 124px 68px;
}

.spz_3008_v .spz-3010-section1 .hero-section {
    display: flex;
    align-items: flex-start;
    margin-top: 58.5px;
}

.spz_3008_v .spz-3010-section1 .hero-section .text.lp-hero-content {
    width: 570px;

    @include tablet-pro() {
        width: 66%;
        max-width: 100%;
    }

    @include tablet() {
        width: 100%;
    }

    @include mobile() {
        width: 100%;
    }
}

.spz_3008_v .spz-3010-section1 .hero-section .text .eyelash {
    color: #192526;
    font-family: "proxima-nova";
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .eyelash span {
    opacity: 0.5;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .eyelash .tooltips {
    position: relative;
    transform: translate(0px, -0.5px);
    margin-left: 12px;
    z-index: 2;
    height: 17px;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .eyelash .tooltips svg {
    vertical-align: baseline;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .eyelash .tooltips .text {
    display: none;
    position: absolute;
    z-index: 1;
    width: 300px;
    color: #192526;
    background-color: #fff;
    padding: 30px;
    font-weight: normal;
    border-radius: 8px;
    border: #AF927D40 1px solid;
    top: -8px;
    right: 20px;
    text-transform: none;
    filter: drop-shadow(2px 4px 4px #DDDEDE);
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    text-align: center;
}


.spz_3008_v .spz-3010-section1 .hero-section .text .eyelash .tooltips:hover .text {
    display: block;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .title {
    color: #171717;
    font-family: freight-text-pro, serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    margin-top: 24px;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .title .green {
    color: #68B79E;
    font-style: italic;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .stars {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 38.5px;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .stars img:first-child {
    width: 104px;
    height: auto;
}

.spz_3008_v .spz-3010-section1 .hero-section .text .stars img:nth-child(2) {
    transform: translate(0px, 2.5px);
}

.spz_3008_v .spz-3010-section1 .hero-section .text .stars .numbers {
    color: rgba(25, 25, 25, 0.80);
    font-family: "proxima-nova";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    transform: translate(0px, 1px)
}

.spz_3008_v .spz-3010-section1 .hero-section .text .stars .numbers strong {
    color: #191919;
    font-weight: 600;
}

.spz_3008_v .spz-3010-section1 .form-div-con,
.spz_3008_v .spz-3010-section1 .form-div,
.spz_3008_v .spz-3010-section1 .text-amount-form-wrap-var-2 {
    // margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    width: auto !important;
    position: relative;
    z-index: 1;
}

/*
  .spz_3008_v .spz-3010-section1 .hero-section .text .form-wrapper{
    position: relative;
    z-index: 1;
  }
  */
.spz_3008_v .spz-3010-section1 .hero-section .text ul {
    text-align: left;
    padding: 0;
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    color: #6b717a;
    flex-flow: column;
    margin-top: 51px;
    margin-bottom: 6px;
    padding-left: 0;
    padding-right: 40px;
    font-size: 18px;
    line-height: 25px;
    list-style-type: none;

    @media (max-width: 991.98px) {
        margin-top: 54px;
        margin-bottom: 4px;
        padding-right: 0;
    }
}

.spz_3008_v .spz-3010-section1 .hero-section .text ul li {
    color: #6B717A;
    font-family: "proxima-nova";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    padding-left: 22px;
    position: relative;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.spz_3008_v .spz-3010-section1 .hero-section .text ul li:first-child {
    margin-top: 0;
}

.spz_3008_v .spz-3010-section1 .hero-section .text ul li::before {
    position: absolute;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' viewBox='0 0 11 11' fill='none'%3E%3Cpath d='M5.25 9.75C7.73528 9.75 9.75 7.73528 9.75 5.25C9.75 2.76472 7.73528 0.75 5.25 0.75C2.76472 0.75 0.75 2.76472 0.75 5.25C0.75 7.73528 2.76472 9.75 5.25 9.75Z' stroke='%2368B79E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 11px;
    height: 11px;
    top: 8.5px;
    left: 0.5px;
    position: absolute;
}

.spz_3008_v .spz-3010-section1 .hero-section .text ul li strong {
    color: #171717;
    font-weight: 600;
}

.spz_3008_v .spz-3010-section1 .hero-section .image {
    width: calc(100% - 570px - 56px);
    margin-left: 56px;

    @include tablet-pro() {
        width: 47.5%;
        margin-left: 0;
    }

    @include tablet() {
        margin-left: 0;
        width: 100%;
    }

    @include mobile() {
        margin-left: 0;
        width: 100%;
    }
}

// .spz_3008_v .spz-3010-section1 .hero-section .image picture {
//   border-radius: 32px;
//   outline: 1px solid #E2DBD5;
//   background: #F4F1F0;
//   display: block;
//   margin-top: 1.5px;
//   overflow: hidden;
// }

// .spz_3008_v .spz-3010-section1 .hero-section .image picture img {
//   width: 100%;
//   height: auto;
// }

.spz_3008_v .container.mt-5 {
    background: #fff;
    max-width: none;
    margin: 0 !important;
    width: 100% !important;
}

.spz_3008_v .container.mt-5>div {
    padding: 36.5px 166px 3px;
    max-width: 1440px;
    margin: 0 auto;
}

.spz_3008_v .container.mt-5 p {
    color: #171717;
    text-align: center;
    font-family: "proxima-nova";
    font-size: 14px !important;
    font-weight: 400;
    line-height: 20.5px;
    margin: 0;
}

.spz_3008_v .container.mt-5 p strong {
    font-weight: 700;
}

@include tablet-pro() {
    .spz_3008_v .spz-3010-section1 .hero-section .text .title {
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 42px;
        line-height: 46.2px;
    }
}

@media (max-width: 1199.98px) {
    .spz_3008_v .spz-3010-section1 .wrapper {
        padding-left: 64px;
        padding-right: 64px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text {
        // width: 480px;
        position: relative;
        z-index: 1;
    }

    // .spz_3008_v .spz-3010-section1 .hero-section .image {
    //   width: calc(100% - 480px - 56px);
    // }
}

@media (max-width: 1023.98px) {
    .spz_3008_v .spz-3010-section1 .wrapper {
        padding-top: 62.5px;
        padding-bottom: 50px;
    }

    .spz_3008_v {
        & {
            .tile-grid {
                padding-right: 0;
            }
        }
    }

    .spz_3008_v .spz-3010-section1 .hero-section {
        margin-top: 39.5px;
    }

    .spz_3008_v.sba-only .spz-3010-section1 .hero-section {
        margin-top: 38.5px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .title {
        // font-variant-numeric: lining-nums proportional-nums;
        // font-size: 42px;
        // line-height: 46.2px;
        margin-top: 23px;
        padding-right: 40px;
        // width: 70%;
    }



    .spz_3008_v .spz-3010-section1 .hero-section .text .stars {
        margin-top: 38.5px;
    }

    // .spz_3008_v .spz-3010-section1 .hero-section .text {
    //   width: 100%;
    // }

    // .spz_3008_v .spz-3010-section1 .hero-section .image {
    //   position: absolute;
    //   top: -71px;
    //   right: -58px;
    //   width: 328px;
    // }

    .spz_3008_v.spz_3008_v2 .spz-3010-section1 .hero-section .image {
        top: -20px;
        right: -92px;
        width: 351px;
    }



    // .spz_3008_v .spz-3010-section1 .hero-section .image picture {
    //   border-radius: 0;
    //   outline: 0;
    //   background: none;
    //   margin-top: 0;
    // }

    .spz_3008_v .spz-3010-section1 .hero-section .text ul {
        margin-top: 30px;
    }

    .spz_3008_v.sba-only .spz-3010-section1 .hero-section .text ul {
        padding-right: 10px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text ul li {
        margin-top: 12.2px;
    }

    .spz_3008_v .container.mt-5>div {
        padding: 38.5px 54px 3px;
    }

}

@media (max-width: 767.98px) {
    .spz_3008_v .spz-3010-section1 .wrapper {
        padding-left: 0;
        padding-right: 0;
        padding-top: 26px;
        padding-bottom: 47px;
    }

    .spz-3010-section1 .header {
        text-align: center;
        border-bottom: 1px solid rgba(119, 113, 112, 0.15);
        padding-bottom: 27px;
        position: relative;
        z-index: 2;
        background: #FBF8F7;
    }

    .spz-3010-section1 .header a img {
        width: 34px;
        height: auto;
    }

    .spz_3008_v .spz-3010-section1 .hero-section {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 29.5px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .eyelash {
        // width: 68%;
        font-size: 16px;
        line-height: 20.8px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .eyelash .tooltips {
        transform: translate(-0.5px, 1px);
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .eyelash .tooltips .text {
        width: 260px;
        right: -20px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .title {
        color: #171717;
        font-size: 32px;
        line-height: 35.2px;
        margin-top: 13.5px;
        padding-right: 0;
        // width: calc(100% - 92px);
    }


    .spz_3008_v .spz-3010-section1 .hero-section .text .title .green {
        white-space: nowrap;
    }

    // .spz_3008_v .spz-3010-section1 .hero-section .image {
    //   top: 84px;
    //   right: -59px;
    //   width: 185px;
    // }

    .spz_3008_v.spz_3008_v2 .spz-3010-section1 .hero-section .image {
        top: 68px;
        right: -125px;
        width: 258px;
    }

    .spz_3008_v.spz_3008_v2.sba-only .spz-3010-section1 .hero-section .image {
        top: 62px;
        right: -76px;
        width: 258px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .stars {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 18.5px;
    }


    .spz_3008_v .spz-3010-section1 .hero-section .text .stars img:first-child {
        width: 104.5px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .stars img:nth-child(2) {
        transform: translate(0px, 3px);
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text .stars .numbers {
        margin-top: -27px;
        margin-left: 106px;
        transform: none;
    }


    .spz_3008_v .spz-3010-section1 .hero-section .text ul {
        margin-top: 35.5px;
    }

    .spz_3008_v .spz-3010-section1 .hero-section .text ul li {
        margin-top: 12.5px;
        line-height: 25px;
    }


    .spz_3008_v .container.mt-5>div {
        padding: 38.5px 11px 3px;
    }


    .spz_3008_v .container.mt-5 p {
        font-size: 12px !important;
        line-height: 17.5px;
    }


    .spz_3008_v {
        .funds-title {
            margin-top: 31px;
        }

        .funds-footer {
            >div {
                padding: 0 25px;
            }
        }

        .spz-3010-section1 div:has(.disclosure-tooltip) small .disclosure-tooltip {
            top: 2.5px;
        }
    }

}