.lp-sliding-form{
  .form-heading-lp-spec{
    display: none;
  }
  .application-form-wrap-lp-spec{
    background: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
  }
  .pwf-form-cont-lp-spec{
    max-width: unset;
    margin: 0;
    padding: 0;
  }
}