.spz_3013_v .lp-hero {
  background-color: white;
  padding-top: 78px;
  padding-bottom: 0;
}

.spz_3013_v .lp-hero-container {
  padding-left: 64px;
  padding-right: 64px;
}

.spz_3013_v .lp-hero-header {
  text-align: center;
  margin-bottom: 78px;
  display: none;
}

.spz_3013_v .spz-company-logo {
  margin-top: 22px;
}

.spz_3013_v .lp-hero-img-col {
  border: none;
  width: 47.5%;
}

.spz_3013_v .lp-hero-eyebro-wrapper {
  margin-top: 34px;
  margin-bottom: 20px;
}

.spz_3013_v .lp-hero-eyebro-tooltip {
  transform: translate(1.5px, 1px);
}

.spz_3013_v .spz-3013-trustpilot-section {
  display: flex;
  align-items: center;
  gap: 8.2px;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.spz_3013_v .spz-3013-trustpilot-section img:first-child {
  transform: translate(0px, -0.5px);
}

.spz_3013_v .spz-3013-trustpilot-section img + img {
  transform: translate(0px, 2px);
}

.spz_3013_v .spz-3013-trustpilot-section .text {
  color: rgba(25, 25, 25, 0.8);
  font-family: proxima-nova;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  transform: translate(-0.5px, 0.5px);
}

.spz_3013_v .spz-3013-trustpilot-section .text strong {
  color: #191919;
  font-weight: 600;
}

.spz_3013_v .lp-hero-title {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: freight-text-pro, sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
  padding-right: 36px;
}

.spz_3013_v .lp-hero-title-highlight {
  margin-left: -1px;
}

.spz_3013_v .lp-hero-title sup {
  color: #171717;
  font-feature-settings: "sups" on;
  font-family: freight-text-pro, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin-left: -5px;
  top: -16px;
}

.spz_3013_v .lp-hero-trustpilot-wrapper {
  display: none;
}

.spz_3013_v .spz-3013-eyebrow-text {
  color: #171717;
  font-family: proxima-nova;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 21.5px;
}

.spz_3013_v .spz-3013-eyebrow-text sup {
  font-size: 13px;
  top: -8px;
}

.spz_3013_v .lp-hero-list {
  display: none;
}

.spz_3013_v .lp-hero-form {
  width: 566px;
  margin: 6px 0 0;
}

.spz-3013-logo-section {
  margin-top: 57.5px;
  padding-bottom: 80px;
}

.spz-3013-logo-section .title {
  color: #171717;
  font-family: proxima-nova;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  text-indent: -1px;
}

.spz-3013-logo-section .desktop {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 38.5px;
}

.spz-3013-logo-section .desktop img {
  max-width: 33%;
  height: auto;
}

.spz-3013-logo-section .tablet,
.spz-3013-logo-section .mobile {
  display: none;
}

.spz_3013_v #global-footer {
  display: none;
}

.spz_3013_v .spz-3013-footer-section {
  max-width: 1140px;
  padding: 117px 32px 27px 32px;
  margin: 0 auto;
}

.spz_3013_v .spz-3013-footer-section .logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12.5px;
  padding-bottom: 19px;
}

.spz_3013_v .spz-3013-footer-section .socmed {
  display: flex;
  align-items: center;
  gap: 17px;
  transform: translateY(1.5px);
}

.spz_3013_v .spz-3013-footer-section .socmed > a:nth-child(2) img {
  transform: translateY(1px);
}

.spz_3013_v .spz-3013-footer-section .text {
  border-top: 1px solid rgba(175, 146, 125, 0.25);
  padding-top: 41px;
  padding-left: 12px;
  padding-right: 12px;
}

.spz_3013_v .spz-3013-footer-section .text .links {
  display: flex;
  padding-bottom: 12px;
  align-items: flex-start;
  gap: 14.9px;
}

.spz_3013_v .spz-3013-footer-section .text .links a {
  color: #192526;
  font-family: proxima-nova;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.spz_3013_v .spz-3013-footer-section .text .copyright {
  color: #192526;
  font-family: proxima-nova;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
}

.spz_3013_v .spz-3013-footer-section .text .copyright-desc {
  padding-top: 16px;
  opacity: 0.5;
  width: 872px;
  padding-right: 24px;
  max-width: 100%;
}

.spz_3013_v .spz-3013-footer-section .text .copyright-desc p {
  color: #8C8380;
  font-family: proxima-nova;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin-top: 16px;
}

.spz_3013_v .spz-3013-footer-section .text .copyright-desc p:first-child {
  margin-top: 0;
}

@media (max-width: 1024.98px) {
  .spz_3013_v .lp-hero-header {
    display: block;
    text-align: left;
    margin-bottom: 16px;
  }
  .spz_3013_v .lp-hero {
    padding-top: 38.5px;
  }
  .spz-company-logo {
    display: none;
  }
  .spz_3013_v .lp-hero-container {
    padding-left: 52px;
    padding-right: 52px;
  }
  .spz_3013_v .lp-hero-eyebro-tooltip {
    transform: translate(1.5px, 2px);
  }
  .spz_3013_v .lp-hero-eyebro-wrapper {
    margin-bottom: 34px;
  }
  .spz_3013_v .lp-hero-title {
    font-size: 56px;
    line-height: 62px;
  }
  .spz_3013_v .spz-3013-trustpilot-section {
    margin-bottom: 5px;
  }
  .spz_3013_v .lp-hero-title .tablet-break {
    display: block;
  }
  .spz_3013_v .lp-hero-title sup {
    font-size: 18px;
    line-height: 18px;
    margin-left: -4px;
    top: -15px;
  }
  .spz_3013_v .lp-hero-form {
    margin-top: 5px;
  }
  .spz_3013_v .spz-3013-eyebrow-text {
    margin-top: 14.5px;
    width: 67%;
  }
  .spz_3013_v .lp-hero-img-col {
    width: 265px;
    top: 108px;
    right: 0;
  }
  .spz-3013-logo-section {
    margin-top: 111.5px;
    padding-bottom: 64px;
  }
  .spz-3013-logo-section .desktop {
    display: none;
  }
  .spz-3013-logo-section .tablet {
    display: flex;
    align-items: flex-start;
    gap: 21.282px;
    width: 664px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34.5px;
  }
  .spz-3013-logo-section .tablet img {
    border-radius: 32px;
  }
  .spz-3013-logo-section .tablet .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.282px;
  }
  .spz-3013-logo-section .tablet .left img {
    width: 321.3px;
    height: auto;
  }
  .spz-3013-logo-section .tablet .right img {
    width: 321.3px;
    height: 664px;
  }
  .spz_3013_v .spz-3013-footer-section {
    padding: 118px 4px 27px 4px;
  }
  .spz_3013_v .spz-3013-footer-section .socmed {
    gap: 6.3px;
  }
  .spz_3013_v .spz-3013-footer-section .text .copyright-desc {
    padding-right: 44px;
  }
}
@media (max-width: 767.98px) {
  .spz_3013_v .lp-hero-header {
    text-align: center;
    margin-bottom: 0;
  }
  .spz_3013_v .lp-hero {
    padding-top: 28px;
  }
  .spz_3013_v .lp-hero-container {
    padding-left: 0;
    padding-right: 0;
  }
  .spz_3013_v .lp-hero-content-wrapper {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 0px;
  }
  .spz_3013_v .lp-hero-eyebro-tooltip {
    transform: translate(2px, -0.5px);
  }
  .spz_3013_v .lp-hero-eyebro-wrapper {
    margin-top: 28.5px;
    margin-bottom: 15px;
  }
  .spz_3013_v .spz-3013-trustpilot-section {
    justify-content: flex-start;
  }
  .spz_3013_v .spz-3013-trustpilot-section img:first-child {
    transform: translate(0px, -0.5px);
    width: 79px;
  }
  .spz_3013_v .spz-3013-trustpilot-section img + img {
    transform: translate(0px, 2px);
    width: 74px;
  }
  .spz_3013_v .spz-3013-trustpilot-section .text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.16px;
    transform: translate(-0.5px, 1.5px);
  }
  .spz_3013_v .lp-hero-img-col {
    width: 146px;
    top: 80px;
    right: 0;
  }
  .spz_3013_v .lp-hero-title {
    font-size: 36px;
    line-height: 40px;
    padding-right: 30px;
  }
  .spz_3013_v .spz-3013-eyebrow-text {
    width: 80%;
  }
  .spz_3013_v .lp-hero-title-highlight {
    margin-left: 0px;
    transform: none;
  }
  .spz_3013_v .lp-hero-title sup {
    margin-left: -3px;
    top: -8px;
  }
  .spz_3013_v .spz-3013-eyebrow-text {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-top: 19px;
  }
  .spz_3013_v .lp-hero-form {
    width: 100%;
    margin-top: 2px;
  }
  .spz_3013_v .lp-hero-title .tablet-break {
    display: none;
  }
  .spz_3013_v .spz-3013-eyebrow-text .mobile-break {
    display: block;
  }
  .spz-3013-logo-section .tablet {
    max-width: 100%;
  }
  .spz-3013-logo-section .tablet .right img {
    height: auto;
  }
  .spz-3013-logo-section .tablet {
    padding: 0 24px;
    gap: 10px;
    margin-top: 21.5px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  .spz-3013-logo-section {
    margin-top: 68.5px;
    padding-bottom: 60px;
  }
  .spz-3013-logo-section .title {
    font-size: 20px;
    line-height: 26px;
    text-indent: -0.5px;
  }
  .spz-3013-logo-section .tablet img {
    border-radius: 16px;
  }
  .spz-3013-logo-section .tablet .left {
    gap: 10px;
  }
  .spz_3013_v .spz-3013-footer-section {
    padding: 94.5px 44px 40px 44px;
    width: 100%;
  }
  .spz_3013_v .spz-3013-footer-section .logos {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding-bottom: 18px;
  }
  .spz_3013_v .spz-3013-footer-section .socmed {
    gap: 13.3px;
    transform: translate(0.5px, 0px);
  }
  .spz_3013_v .spz-3013-footer-section .text {
    padding-right: 0;
  }
  .spz_3013_v .spz-3013-footer-section .text .links {
    flex-wrap: wrap;
  }
  .spz_3013_v .spz-3013-footer-section .text .copyright-desc {
    padding-right: 0px;
  }
  .spz_3013_v .spz-3013-footer-section .text .copyright-desc p {
    margin-top: 12px;
    padding-right: 36px;
  }
  .spz_3013_v .spz-3013-footer-section .socmed > a:nth-child(2) img {
    transform: translateY(0.5px);
  }
}
@media (max-width: 530.98px) {
  .spz_3013_v .spz-3013-trustpilot-section {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 13.5px;
    gap: 0.5px;
  }
  .spz_3013_v .spz-3013-trustpilot-section .text {
    margin-top: -18px;
    margin-left: 80.5px;
    transform: translate(-0.5px, 0.5px);
  }
  .spz_3013_v .lp-hero-title .tablet-break {
    display: block;
  }
  .spz_3013_v .spz-3013-eyebrow-text {
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */