body.spz_6012_v button[modal_title="Try Netwrix for yourself"] {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
}

.spz_tour_on_Page {
  text-align: center;
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/bg_image.webp) no-repeat;
  background-size: cover;
  height: 1148px;
  padding: 96px 20px 120px;
  position: relative;
  z-index: 102;
}

.spz_tour_onPage_title {
  color: #FCFAF5;
  text-align: center;
  font-family: "Hubot Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

body.spz_6012_v .spz_form_wrapper {
  height: 820px;
  max-width: 1312px;
  margin: 64px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  backdrop-filter: blur(4.5px);
  border: 1px solid #000;
}

body.spz_6012_v.spz_auditor-page .spz_form_wrapper {
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/netwrix_auditor_bg_-_desktop_2.webp) no-repeat;
  background-size: cover;
}

body.spz_6012_v.spz_endpoint-protector-page .spz_form_wrapper {
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/endpoint_protector_bg_-_desktop.webp) no-repeat;
  background-size: cover;
}

body.spz_6012_v.spz_access-analyzer-page .spz_form_wrapper {
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/access_analyzer_bg_-_desktop.webp) no-repeat;
  background-size: cover;
}

body.spz_6012_v.spz_privilege-secure-page .spz_form_wrapper {
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/privilege_secure_bg_-_desktop.webp) no-repeat;
  background-size: cover;
}

body.spz_6012_v.spz_identity-manager-page .spz_form_wrapper {
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/identity_manager_bg_-_desktop.webp) no-repeat;
  background-size: cover;
}

body.spz_6012_v.spz_data-classification-page .spz_form_wrapper {
  background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/data_classification_bg_-_desktop.webp) no-repeat;
  background-size: cover;
}

.spz_form_wrapper_inner {
  background: #FCFAF5;
  -webkit-box-shadow: 0 36px 68px 0 rgba(70, 67, 123, 0.30);
  box-shadow: 0 36px 68px 0 rgba(70, 67, 123, 0.30);
  padding: 40px;
  margin-top: 1px;
  width: 100%;
  max-width: 546px;
}

.spz_form1310_title {
  color: #5851DB;
  text-align: center;
  font-family: "Hubot Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.spz_form_wrapper_inner form.spz_form1310 input {
  width: 100% !important;
  border: 1px solid rgba(77, 77, 77, 0.30);
  height: 38px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 8px 16px;
  color: #4D4D4D;
  background: transparent;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.4px;
}

.spz_form_wrapper_inner form.spz_form1310 input.mktoInvalid {
  border-color: #db0024 !important;
}

.spz_form_wrapper_inner form.spz_form1310 label .mktoAsterix {
  display: none;
}

.spz_form_wrapper_inner form.spz_form1310 label+.mktoGutter.mktoHasWidth {
  display: none;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFormCol {
  width: 100%;
  min-height: 0;
  margin: 0 !important;
}

.spz_form_wrapper_inner form.spz_form1310 label {
  color: #000;
  font-family: Syne;
  font-size: 12px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 16.8px;
  width: 100% !important;
  padding: 0;
  margin-bottom: 8px;
}

.spz_form_wrapper_inner form.spz_form1310 label .mktoAsterix {
  display: none;
}

.spz_form_wrapper_inner form.spz_form1310 label+.mktoGutter.mktoHasWidth {
  display: none;
}

.spz_form_wrapper_inner form.spz_form1310 {
  width: 100% !important;
  max-width: 466px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFormRow[data-wrapper="Email"]+.mktoFormRow {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap .mktoHtmlText.mktoHasWidth {
  width: 100% !important;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap #privacy {
  color: #000;
  text-align: center;
  font-family: Syne;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap #privacy a {
  color: #5851DB;
  font-family: Syne;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  transition: all 0.3s ease;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap #privacy a:hover {
  color: #897DCD;
  text-decoration-color: #897DCD;
  transition: all 0.3s ease;
}

form.spz_form1310 [data-wrapper="FirstName LastName"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}

.spz_form_wrapper_inner form.spz_form1310 [data-wrapper="FirstName LastName"]>.mktoFormCol {
  width: 50%;
}

form.spz_form1310 [data-wrapper="FirstName LastName"] .mktoClear {
  display: none;
}

form.spz_form1310 .mktoButtonWrap.mktoSimple .mktoButton {
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 41px;
  overflow-clip-margin: 1px;
  text-decoration: none;
  border-radius: 3rem;
  width: 100%;
  border-radius: 30px;
  background: #5851DB;
  padding: 8px 24px;
  color: #FCFAF5;
  font-family: Syne;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25.2px;
  border: none;
  z-index: 1;
  -webkit-transition: color .3s cubic-bezier(.2, 0, .38, .9);
  -o-transition: color .3s cubic-bezier(.2, 0, .38, .9);
  transition: color .3s cubic-bezier(.2, 0, .38, .9);
}

form.spz_form1310 .mktoButtonWrap.mktoSimple .mktoButton:focus {
  border-color: #5851DB;
}

form.spz_form1310 .mktoButtonWrap.mktoSimple .mktoButton::before {
  content: "";
  position: absolute;
  bottom: calc((2rem + 1px) * -1);
  background: #41f27c;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  -webkit-transition: width .3s cubic-bezier(.2, 0, .38, .9), height .3s cubic-bezier(.2, 0, .38, .9);
  -o-transition: width .3s cubic-bezier(.2, 0, .38, .9), height .3s cubic-bezier(.2, 0, .38, .9);
  transition: width .3s cubic-bezier(.2, 0, .38, .9), height .3s cubic-bezier(.2, 0, .38, .9);
  z-index: -1
}

form.spz_form1310 .mktoButtonWrap.mktoSimple .mktoButton:hover {
  color: #000;
  -webkit-transition: width .3s cubic-bezier(.2, 0, .38, .9), height .3s cubic-bezier(.2, 0, .38, .9);
  -o-transition: width .3s cubic-bezier(.2, 0, .38, .9), height .3s cubic-bezier(.2, 0, .38, .9);
  transition: width .3s cubic-bezier(.2, 0, .38, .9), height .3s cubic-bezier(.2, 0, .38, .9);
  border: none;
  z-index: 1;
}

form.spz_form1310 .mktoButtonWrap.mktoSimple .mktoButton:hover::before {
  width: calc(150% + 2rem);
  height: calc(200% + 2rem);
}

form.spz_form1310 span.mktoButtonWrap {
  margin: 0 !important;
}

form.spz_form1310 .mktoOffset {
  display: none;
}

form.spz_form1310 .mktoButtonRow {
  margin: 24px 0;
}

.spz_form_wrapper_inner form.spz_form1310 input.mktoInvalid {
  border-color: #db0024 !important;
}

.spz_form_wrapper_inner form.spz_form1310 input::placeholder {
  color: #4D4D4D;
  /* Standard syntax */
}

/* Chrome, Safari, Opera */
.spz_form_wrapper_inner form.spz_form1310 input::-webkit-input-placeholder {
  color: #4D4D4D;
}

/* Firefox 19+ */
.spz_form_wrapper_inner form.spz_form1310 input::-moz-placeholder {
  color: #4D4D4D;
}

/* Firefox 4 - 18 */
.spz_form_wrapper_inner form.spz_form1310 input:-moz-placeholder {
  color: #4D4D4D;
}

/* Internet Explorer 10-11 */
.spz_form_wrapper_inner form.spz_form1310 input:-ms-input-placeholder {
  color: #4D4D4D;
}

/* Microsoft Edge (Legacy) */
.spz_form_wrapper_inner form.spz_form1310 input::-ms-input-placeholder {
  color: #4D4D4D;
}


.spz_form_wrapper_inner form.spz_form1310 .mktoFormRow>.mktoFormCol .mktoError {
  position: relative;
  inset: auto !important;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap .mktoError .mktoErrorArrowWrap {
  display: none;
}

.spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap .mktoError .mktoErrorMsg {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  margin-top: .5rem;
  padding: 0;
  max-width: 100%;
  color: #db0024;
}

body.spz_6012_v .spz_form_wrapper_inner.hide {
  display: none;
}

body.spz_6012_v .spz_form_trigger_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 53.7%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 99px;
  background: #FCFAF5;
  box-shadow: 0 36px 68px 0 rgba(70, 67, 123, 0.30);
  padding: 16px 38px;
  gap: 10px;
  width: 354px;
  height: 66px;
  cursor: pointer;
  z-index: 1;
}

body.spz_6012_v .spz_form_trigger_button .spz_btn {
  color: #5851DB;
  font-family: "Hubot Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

body.spz_6012_v .spz_form_trigger_button.hide {
  display: none;
}


@media only screen and (min-width: 1301px) {
  body.spz_6012_v.spz_identity-manager-page .spz_tour_on_Page.spz_iframe_active {
    height: 1010px;
  }

  body.spz_data-classification-page.spz_6012_v .spz_tour_on_Page.spz_iframe_active {
    height: 960px;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1051px) {
  .spz_tour_on_Page.spz_iframe_active {
    height: 908px;
  }
}

@media only screen and (max-width: 1051px) and (min-width: 930px) {
  .spz_tour_on_Page.spz_iframe_active {
    height: 708px;
    padding: 70px 20px;
  }
}

@media only screen and (max-width: 929px) and (min-width: 811px) {
  .spz_tour_on_Page.spz_iframe_active {
    height: 590px;
    padding: 70px 20px;
  }
}


@media only screen and (max-width: 1024px) {
  .spz_tour_on_Page {
    background-position: center;
    padding: 80px 24px;
    height: 1262px;
  }

  body.spz_6012_v .spz_form_trigger_button {
    top: 53.2%;
  }

  body.spz_6012_v .spz_form_wrapper {
    margin-top: 40px;
    height: 1024px;
  }

  body.spz_6012_v.spz_auditor-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/netwrix_auditor_bg_-_tablet_2.webp) no-repeat;
    background-size: cover;
  }

  body.spz_6012_v.spz_endpoint-protector-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/endpoint_protector_bg_-_desktop.webp) no-repeat;
    background-size: cover;
  }

  body.spz_6012_v.spz__access-analyzer-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/access_analyzer_bg_-_tablet.webp) no-repeat;
    background-size: cover;
  }

  body.spz_6012_v.spz_privilege-secure-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/privilege_secure_bg_-_tablet.webp) no-repeat;
    background-size: cover;
  }

  body.spz_6012_v.spz_identity-manager-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/identity_manager_bg_-_tablet.webp) no-repeat;
    background-size: cover;
  }

  body.spz_6012_v.spz_data-classification-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/data_classification_bg_-_tablet.webp) no-repeat;
    background-size: cover;
  }

  .spz_tour_onPage_title {
    font-size: 32px;
    line-height: 38.4px;
  }

  .spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap #privacy a {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 382px) {
  .spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap #privacy a {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 767px) {
  .spz_tour_on_Page {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/bg-image-mobile.webp) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 12px;
    height: 976px;
  }

  body.spz_auditor-page .spz_tour_on_Page {
    height: 944px;
  }

  body.spz_6012_v .spz_form_trigger_button {
    top: 55.1%;
  }

  body.spz_auditor-page .spz_form_trigger_button {
    top: 53.5%;
  }

  body.spz_6012_v.spz_identity-manager-page .spz_form_trigger_button {
    top: 55%;
  }

  body.spz_data-classification-page .spz_tour_on_Page {
    height: 1008px;
  }

  body.spz_6012_v.spz_data-classification-page .spz_form_trigger_button {
    top: 56.5%;
  }

  body.spz_6012_v .spz_form_wrapper {
    margin-top: 32px;
    height: 800px;
  }

  body.spz_6012_v .spz_form_trigger_button {
    width: 312px;
    height: 66px;
    padding: 16px 24px;
  }

  body.spz_6012_v .spz_form_trigger_button .spz_btn {
    font-size: 22px;
    line-height: 27.5px;
  }

  body.spz_6012_v.spz_auditor-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/netwrix_auditor_bg_-_mobile_2.webp) no-repeat;
    background-size: cover;
  }

  body.spz_6012_v.spz_endpoint-protector-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/endpoint_protector_bg_-_desktop.webp) no-repeat;
    background-size: cover;
    margin-top: 33px;
  }

  body.spz_6012_v.spz__access-analyzer-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/access_analyzer_bg_-_mobile.webp) no-repeat;
    background-size: cover;
    margin-top: 33px;
  }

  body.spz_6012_v.spz_privilege-secure-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/privilege_secure_bg_-_mobile.webp) no-repeat;
    background-size: cover;
    margin-top: 33px;
  }

  body.spz_6012_v.spz_identity-manager-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/identity_manager_bg_-_mobile.webp) no-repeat;
    background-size: cover;
    margin-top: 33px;
  }

  body.spz_6012_v.spz_data-classification-page .spz_form_wrapper {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6012/data_classification_bg_-_mobile.webp) no-repeat;
    background-size: cover;
  }

  .spz_tour_onPage_title {
    font-size: 25.6px;
    line-height: 32px;
    max-width: 80%;
    margin: 0 auto;
  }

  body.spz_identity-manager-page .spz_tour_onPage_title,
  body.spz_data-classification-page .spz_tour_onPage_title {
    max-width: 70%;
  }

  body.spz_privilege-secure-page .spz_tour_onPage_title {
    max-width: 75%;
  }

  body.spz_6012_v.spz_endpoint-protector-page .spz_form1310_title .spz__no-wrap,
  body.spz_6012_v.spz__access-analyzer-page .spz_form1310_title .spz__no-wrap,
  body.spz_6012_v.spz_privilege-secure-page .spz_form1310_title .spz__no-wrap,
  body.spz_6012_v.spz_identity-manager-page .spz_form1310_title .spz__no-wrap {
    display: block;
  }

  body.spz_6012_v.spz__access-analyzer-page .spz_form1310_title .spz__no-wrap {
    display: block;
  }

  .spz_form1310_title {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.5px;
    margin-bottom: 24px;
  }

  .spz_form1310_title .spz__no-wrap {
    display: block;
  }

  body.spz_auditor-page .spz_form1310_title .spz__no-wrap {
    display: inline-block;
  }

  .spz_form_wrapper_inner {
    padding: 24px;
    margin-top: 0;
    width: calc(100% - 22px);
  }

  .spz_form_wrapper_inner form.spz_form1310 {
    padding: 0;
    max-width: 100%;
  }

  form.spz_form1310 [data-wrapper="FirstName LastName"] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 0;
  }

  .spz_form_wrapper_inner form.spz_form1310 [data-wrapper="FirstName LastName"]>.mktoFormCol {
    width: 100%;
  }

  .spz_form_wrapper_inner form.spz_form1310 [data-wrapper="FirstName LastName"]>.mktoFormCol:nth-child(2) {
    margin-bottom: 24px !important;
  }

  .spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap #privacy a {
    display: block;
    padding: 0;
  }

  .spz_form_wrapper_inner form.spz_form1310 .mktoFieldWrap #privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 810px) {
  .spz_tour_on_Page.spz_iframe_active {
    height: 250px;
    padding: 30px 20px;
  }
}